<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://xavierxie.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-hk1-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>xavierxie</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$xavierxie</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="XavierSiteConnect" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:u6rd67k8qz.database.windows.net,1433;Initial Catalog=xavierxieDB;User ID=xavierxie@u6rd67k8qz;Password=+gehai2029" Name="Data Source=tcp:u6rd67k8qz.database.windows.net,1433;Initial Catalog=xavierxieDB;User Id=xavierxie@u6rd67k8qz;Password=+gehai2029" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="XavierSite.DB.XavierSiteConnect, XavierSite" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)XavierSiteConnect-Web.config Connection String">
      <ParameterValue>metadata=res://*/DB.XavierSiteDB.csdl|res://*/DB.XavierSiteDB.ssdl|res://*/DB.XavierSiteDB.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:u6rd67k8qz.database.windows.net,1433;Initial Catalog=xavierxieDB;User Id=xavierxie@u6rd67k8qz;Password=+gehai2029"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>