@model XavierSite.Areas.OnlineStore.Concrete.Cart

@{
    ViewBag.Title = "CartDetail";
    Layout = "~/Areas/OnlineStore/Views/Shared/_Layout.cshtml";
}

<h2>CartDetail</h2>
<div id="confirm">
   @ViewBag.confirmPro added to Cart
</div>

<div id="otherSkills">
    @{
        
    }
</div>
